{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
Articles
{% endblock %}

<!-- link -->
{% block link %}
<!-- <link rel="stylesheet" href="{% static 'articles/css/murphy.css' %}"> -->
<link rel="stylesheet" href="{% static 'articles/css/pastie.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock  %}

<!-- header_img -->
{% block img_height %}

.header-img {
width: auto;
height: 400px;
}

{% endblock %}

<!-- script -->
{% block header_img %}
<div class="header-img" style="background: url(/media/{{ article.img.img }}) no-repeat center;"></div>
{% endblock %}

<!-- body -->
{% block body %}
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="article">
                    <div class="article-title text-center text-muted">
                        <h1>
                            <span style="font-size: 1em; color: #34495e;">
                                <i class="fas fa-heading"></i>
                            </span>

                            {{ article.title }}
                        </h1>
                    </div>
                    <div class="article-some container">
                        <div class="article-category" style="display: inline;">
                            <a href="{% url 'article:category' article.category.id %}">
                                <h5 class="inline">
                                    <span style="font-size: 0.9em; color: Dodgerblue;">
                                        <i class="fas fa-bookmark fa-1x"></i>
                                    </span>
                                    {{ article.category }}
                                </h5>
                            </a>
                        </div>
                        <div class="article-tags" style="display: inline;">
                            <h5 class="inline">
                                <span style="font-size: 0.8em; color: Mediumslateblue;">
                                    <i class="fas fa-tag"></i>
                                </span>
                                {% for tag in article.tags.all %}
                                {% if forloop.first %}
                                {{ tag.name }}
                                {% else %}
                                <strong>·</strong>
                                {{ tag.name }}
                                {% endif %}
                                {% endfor %}
                            </h5>
                        </div>
                        <div class="article-time" style="display: inline;">
                            <h5 class="inline">
                                <span style="font-size: 0.9em; color: Tomato;">
                                    <i class="fas fa-calendar-check"></i>
                                </span>
                                {{ article.created_time|date:"Y-m-d" }}
                            </h5>
                        </div>
                    </div>
                    <hr>
                    <div class="article-content text-muted">
                        <h3>{{ article.content |safe }}</h3>
                    </div>
                </div>
                <div class="article-more">
                    <div class="row">
                        <div class="col-md-6">
                            {% if pre_article %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ pre_article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ pre_article }}</h5>
                                    <p class="card-text">{{ pre_article.intro }}</p>
                                    <a href="#" class="btn btn-primary">上一篇</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.intro }}</p>
                                    <a href="#" class="btn btn-primary">本篇</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if next_article %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ next_article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ next_article.title }}</h5>
                                    <p class="card-text">{{ next_article.intro }}</p>
                                    <a href="#" class="btn btn-primary">下一篇</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.intro }}</p>
                                    <a href="#" class="btn btn-primary">本篇</a>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article-toc">
                <h4 class="text-muted">{{ tob |safe }}</h4>
            </div>
        </div>
    </div>


</div>


</div>

{% endblock %}

<!-- script -->
{% block script %}
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

{% endblock %}