{% extends 'base.html' %}
{% load static %}

{% block title %}
About | {{ Info.name }}
{% endblock %}


{% block link %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"
    integrity="sha256-XNiBJGZuErA+MsbKwxuTqNMimobZMsVS79SkTUroRz4=" crossorigin="anonymous"></script>

{% endblock %}

{% block img_height %}
    .header-img {
        width: auto;
        height: 500px;
        background-position: center center;
    }

{% endblock %}


{% block header_img %}
<div class="header-img" style="background: url(/media/{{ header_img.img }}) no-repeat center center;">
</div>
{% endblock %}


{% block body %}
<div class="container">
    <!-- 信息 -->
    <div class="row">
        <!-- 左边 -->
        <div class="col-md-4">
            
            <div class="blog-data">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="{% url 'common:archive' %}" class="posi-l text-muted" style="text-decoration:none;">
                            <p class="title">文章</p>
                            <p class="num">{{ articles_num }}</p>
                        </a>

                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'article:categories' %}" class="posi-l text-muted" style="text-decoration:none;">
                            <p class="title">分类</p>
                            <p class="num">{{ articles_categories_num }}</p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="posi-l text-muted" style="text-decoration:none;">
                            <p class="title">标签</p>
                            <p class="num">{{ articles_tag_num }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 头像 -->
        <div class="col-md-4">
            <div class="my">
                <div class="my-img-div">
                    <img class="rounded-circle my-img" src="/media/{{ Info.header_img }}" alt="" style="max-width: 200px;">
                </div>
                <div class="my-id text-center">
                    <h3>{{ Info.name }}</h3>
                </div>
            </div>
        </div>
        <!-- 右边 -->
        <div class="col-md-4">
            <div class="connet">
                    <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin={{ Info.QQ }}" class="posi-r">
                                    <span style="font-size: 2.5em; color: #007bff;">
                                        <i class="fab fa-qq"></i>
                                    </span>
                                </a>
            
                            </div>
                            <div class="col-md-3">
                                <a href="mailto:{{ Info.email }}" class="posi-r">
                                    <span style="font-size: 2.5em; color: #007bff80;">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </a>
            
                            </div>
                            <div class="col-md-3">
                                <a href="{{ Info.github }}" class="posi-r" target="_blank">
                                    <span style="font-size: 2.5em; color: #00000080;">
                                        <i class="fab fa-github"></i>
                                    </span>
                                </a>
            
                            </div>
                        </div>
            </div>
            

        </div>
    </div>
    <!-- 个人简介 -->
    <div class="container intro">
        <div class="intro-content text-center ">
           {{ Info.intro }}
        </div>
    </div>
    <hr>
    <!-- 文章图表 -->
    <div class="container text-center">
        <h2> 
            <span style="font-size: 1em; color: #34495e;">
                <i class="fas fa-chart-pie"></i>
            </span>
            Article Chart
        </h2>
        <div class="row">
            <div class="col-md-6">
                <div id="pie" style="width: 100%;height:500px;"></div>
            </div>
            <div class="col-md-6">
                <div id="lou" style="width: 100%;height:500px;"></div>
            </div>
        </div>
        
        
    </div>
    <hr>
    <!-- 所有标签 -->
    <div class="container text-center">
        <h2>
            <span style="font-size: 1em; color: #34495e;">
                <i class="fas fa-tags"></i>
            </span>
            All Tags
        </h2>
        <div class="tag container">
            {% for tag in articles_tags %}
                <a href="" class="tag-name " style="text-decoration: none;"><span>{{ tag }}</span></a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <!-- 我的项目 -->
    <div class="container text-center">
        <h2>
            <span style="font-size: 1em; color: #34495e;">
                <i class="fas fa-project-diagram"></i>
            </span>
            My Projects
        </h2>
        <div class="items">
            <div class="row">
                {% for  project in projects %}
                <div class="col-md-4">
                    <div class="item" style="display: inline;">
                        <a href="{{ project.link }}" style="text-decoration: none;">
                            <span style="font-size: 4em; color: {{ project.awesome_font_color }};">
                                <i class="fas {{ project.awesome_font }}"></i>
                            </span>
                            <h4 class="" style="color: #1a1e21;">{{ project.name }}</h4>
                            <p class="text-muted">{{ project.intro }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('pie'), 'light');

    option = {
        series: [{
            name: '访问来源',
            type: 'pie',
            radius: '70%',
            roseType: 'angle',
            data: [
                {% for category,num in categories_and_num.items %}
                {
                    value: {{ num }},
                    name: '{{ category }}'
                },
                {% endfor %}
            ],
            "label": {
                "normal": {
                    "show": true,
                    "textStyle": {
                        "fontSize": 15
                    }
                },
            }


        }]
    };
    myChart.setOption(option);
</script>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('lou'), 'light');
var option = {

    calendar: [
    {
        orient: 'vertical',
        yearLabel: {
            margin: 50,
            fontSize:30,
        },
        monthLabel: {
            fontSize:20,
            margin: 20
        },
        cellSize: 50,
        top: 'middle',
        left: 'center',
        range: '{{ range }}'
    },
   ],

    series: [ {
        type: 'effectScatter',
        coordinateSystem: 'calendar',
        data: [
            {% for time,num in articles_time_num.items %}
                ["{{ time }}",{{ num }} ],
            {% endfor %}
            ]
    }]
};
myChart.setOption(option);

</script>

{% endblock %}


{% block script %}


{% endblock %}