{% extends 'base.html' %}
{% load static %}
{% load dict_filter %}

<!-- title -->
{% block title %}
Archive
{% endblock %}

<!-- link -->
{% block link %}
<link rel="stylesheet" href="{% static 'archive/css/archive.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.min.js"
    integrity="sha256-XNiBJGZuErA+MsbKwxuTqNMimobZMsVS79SkTUroRz4=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXY9%26" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400italic&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXY+/,'é" rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:700&text=PEAGSRLUVFYCOBNTJMDOH1234567890,'
    rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Crimson+Text:700italic&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' rel='stylesheet' type='text/css'>
{% endblock  %}

<!-- header_img -->
{% block img_height %}

.header-img {
width: auto;
height: 400px;
}

{% endblock %}


<!-- script -->
{% block header_img %}
<div class="header-img" style="background: url(/media/{{ header_img.img }}) no-repeat center;"></div>
{% endblock %}


<!-- body -->
{% block body %}
<div class="container article-calender-div">
    <div id="article-calender" style="width: 100%;height:250px;padding-top: 20px;"></div>
</div>
<div class="container">
    <div class="article container" style="background-color: ">
        {% for year,months in articles_order_by_year.items %}
        <div class="row">
            <div class="col-md-2 text-center">
                <p class="article-year">{{ year }}</p>
            </div>
            <div class="col-md-10">
                {% for month,articles in months.items %}
                <div class="row">
                    <div class="col-md-1">
                        <p class="article-month">{{ month }}</p>
                    </div>
                    <div class="col-md-11">
                        {% for article in articles %}
                        <div class="row">
                            <div class="col-md-1">
                                <p  class="article-day">{{ article.created_time|date:'j' }}</p>
                            </div>
                            <div class="col-md-11">
                                
                                <a href="{% url 'article:article' article.id %}" style="color: #474d52; border-bottom: 1px solid red; ">
                                    <p class="article-title text-muted">{{ article.title }}</p>
                                </a>
                                <div class="article-some">
                                    <div class="article-category">
                                        <p>In<a href="{% url 'article:category' article.category.id %}"> <strong class="text-muted">{{ article.category }}</strong></a></p>
                                    </div>
                                    <div class="article-tags">
                                        <p>
                                            About
                                             {% for tag in article.tags.all %}
                                                {% if forloop.first %}
                                                    {{ tag.name }}
                                                {% else %}
                                                    <strong>·</strong>
                                                    {{ tag.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}     
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


<!-- script -->
{% block script %}

<script type="text/javascript">
    let myChart = echarts.init(document.getElementById('article-calender'));

    let option = {
        title: {
            top: 0,
            text: 'Article Calender',
            left: 'center',
            textStyle: {
                color: '#3C4858'
            }
        },
        tooltip: {
            padding: 10,
            backgroundColor: '#555',
            borderColor: '#777',
            borderWidth: 1,
            formatter: function (obj) {
                var value = obj.value;
                return '<div style="font-size: 14px;">' + value[0] + '：' + value[1] + '</div>';
            }
        },
        visualMap: {
            show: true,
            showLabel: true,
            categories: [0, 1, 2, 3, 4],
            calculable: true,
            inRange: {
                symbol: 'rect',
                color: ['#ebedf0', '#c6e48b', '#7bc96f', '#239a3b', '#196127']
            },
            itemWidth: 15,
            itemHeight: 15,
            orient: 'horizontal',
            left: 'center',
            bottom: 0
        },
        calendar: [{
            left: 'center',
            range: ["{{ years_ago }}", "{{ time_now }}"],
            cellSize: [17, 17],
            splitLine: {
                show: false
            },
            itemStyle: {
                borderColor: '#fff',
                borderWidth: 2
            },
            yearLabel: {
                show: false
            },
            monthLabel: {
                nameMap: 'en',
                fontSize: 11
            },
            dayLabel: {
                formatter: '{start}  1st',
                nameMap: 'en',
                fontSize: 11
            }
        }],
        series: [{
            type: 'heatmap',
            coordinateSystem: 'calendar',
            calendarIndex: 0,
            data: [
                {% for data in data_list %} 
                    {% if data in articles_data_list.keys %}
                        ["{{ data }}", {{ articles_data_list|get_item:data }}],
                    {% else %}
                        ["{{ data }}", 0],
                    {% endif %} 
                {% endfor %}
            ]
        }]

    };

    myChart.setOption(option);
</script>

{% endblock %}