{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock  %}

{% block title %}
Index | {{ Info.name }}
{% endblock title %}


{% block img_height %}

.header-img {
width: auto;
height: 950px;
background-position:center center;
}

{% endblock %}

{% block header_img %}

<div class="header-img" style="background: url(/media/{{ header_img.img }}) no-repeat center center;">

  <div class="my">
    <div class="my-id text-light">
      <span id="my-id"></span>
    </div>
    <div class="my-motto text-white">
      <h2><span id="my-motto"></span></h2>
    </div>
  </div>

</div>

{% endblock %}

{% block body %}
<div class="container" id="article">
  <!-- article list -->
    {% for Article in Articles %}
      <div class="card text-center card-div" >
        <div class="card-body">
          <a href="{% url 'article:article' Article.id %}" style="text-decoration: none;">
            <h5 class="card-title card-title-font text-muted"><i class="fas fa-heading"></i> {{ Article.title }}</h5>
          </a>
          <div class="card-subtitle mb-2">
            <a href="{% url 'article:category' Article.category.id %}" style="text-decoration: none;">
              <div class="text-muted" style="display:inline;padding-right: 0px;"><i class="fas fa-bookmark fa-1x"></i> {{ Article.category }}
              </div>
            </a>
            <i class="fas fa-angle-right"></i>
            <div class="tag-c" style="display:inline;padding-right: 20px;">
              <i class="fas fa-tag"></i>
                {% for tag in Article.tags.all %}
                    {% if forloop.first %}
                        {{ tag.name }}
                    {% else %}
                        <strong>·</strong>
                        {{ tag.name }}
                    {% endif %}
                {% endfor %}
            </div>
            <div style="display:inline;"><i class="fas fa-calendar-alt"></i> {{ Article.created_time|date:"Y-m-d" }}</div>
          </div>
          <a href="{% url 'article:article' Article.id %}" style="text-decoration: none;">
            <div class="card-img-middle" style="background-image: url('media/{{ Article.img.img }}');"></div>
            <p class="card-text text-muted">
                {{ Article.intro }}
            </p>
          </a>
          <hr>
          <a href="{% url 'article:article' Article.id %}" class="card-link card-link-left text-muted"><i
              class="fas fa-ellipsis-h fa-2x"></i></a>
          <a href="{% url 'article:article' Article.id %}" class="card-link card-link-right text-muted">
            <span style="font-size: 1.3em; color: #6c757d;">
              <i class="fas fa-eye fa-1x"></i>
            </span>{{ Article.total_views }}
          </a>
          <a href="{% url 'article:article' Article.id %}" class="card-link card-link-right text-muted">
            <span style="font-size: 1.3em; color: #6c757d;">
              <i class="fas fa-comment-dots fa-1x"></i>
            </span>{{ Article.comments_set.all|length }}
          </a>
        </div>
      </div>
    {% endfor %}

    <!-- ???? -->
    <div class="container pre-next text-center">
          {% if Articles.has_previous %}
          <div class="pre pre-ani">
            <a href="?page={{ Articles.previous_page_number }}">
              <span style="font-size: 2em; color: #28a745;">
                <i class="fas fa-chevron-circle-left"></i>
              </span>
            </a>
          </div>
        {% else %} 
        <div class="pre" title="这是第一页">
          <a href="javascript:return false;">
            <span style="font-size: 2em; color: #6c757d;">
              <i class="fas fa-chevron-circle-left"></i>
            </span>
          </a>
        </div>
        {% endif %}
      <div class="page">
        Page {{ Articles.number }} of {{ pagerang.num_pages }}
      </div>
        {% if Articles.has_next %}
        <div class="next next-ani">
          <a href="?page={{ Articles.next_page_number }}">
            <span style="font-size: 2em; color: #28a745;">
              <i class="fas fa-chevron-circle-right"></i>
            </span>
          </a>
        </div>
        {% else %}
        <div class="next" title="这是最后一页">
          <a href="javascript:return false;">
            <span style="font-size: 2em; color: #6c757d;">
              <i class="fas fa-chevron-circle-right"></i>
            </span>
          </a>
        </div>
        {% endif %}
        <!-- <a href="">
          <span style="font-size: 2em; color: #34495e;">
            <i class="fas fa-chevron-circle-right"></i>
          </span>
        </a> -->

      
    </div>
</div>
<div class="mao fixed-bottom">
    <div class="next-ani">
        <ul style="list-style: none;">
            <li>
                <a style="text-decoration: none; cursor: pointer;" onclick="javascript:document.getElementById('article').scrollIntoView({ behavior:'smooth' })" >
                    <span style="font-size: 2em; color: #6c757d;">
                        <i class="fas fa-angle-double-up"></i>
                    </span>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endblock %}

{% block script %}
<!-- type motto -->
<script type="text/javascript">
  var typed2 = new Typed('#my-id', {
    strings: ["Welcome to", "{{ Info.name }}'s Blog"],
    typeSpeed: 70,
    backSpeed: 0,
    fadeOut: true,
    cursorChar: '',
  });

  

  window.setTimeout("typed()", 5000);

  function typed() {
    var typed1 = new Typed('#my-motto', {
      strings: [
      {% for foo in Motto %}
          "{{ foo.context }}",
      {% endfor %}
      ],
      typeSpeed: 70,
      backSpeed: 0,
      fadeOut: true,
      loop: true,
      cursorChar: '_',
    });
  }
</script>

{% endblock %}