/* 头像和id */
.my-img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
   
}
.my-id{
   position: relative;
   top: -40px;

}
/* 头像两边东西位置 */
.posi-l{
    position: relative;
    top: 30px;
}
.posi-r{
    position: relative;
    top: 30px;
    float: right;
}
.title{
    font: 1.3em sans-serif;
    font-weight: 800;
}

.intro{
    width: 80%;
}
/* .my-img:hover{
    translate: scale(1.5)
  
} */