
.categories{
    position: relative;
    top: -20px;
    background-color: #ffffff;
    border-radius: 10px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

}
.categories:hover{
    box-shadow: 0px 5px 30px #adacac;
    transform: translate( 0px, -10px);
}
.category{
    
}
.category-pad{
    display: inline;
    margin-left: 20px;
}

.articles-list{
    width: 80%;
}


.categories-title{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
    font-family: "Crimson Text","Verdana",sans-serif;
}
.categories-item{

    padding-top: 20px;
    padding-bottom: 40px;
}