{% extends "base.html" %}
{% load static %}
{% block header_img %}
.headerSize{
  
  background:transparent url(/upload/{{ header_img.friends_img }}) no-repeat scroll ;
  
  width: 100%;
  height: 800px;
  overflow:hidden;
  background-size:cover;    
}
{% endblock header_img %}


{% block css %}
.grid a {
    text-decoration:none;
}
.grid {
    position: relative;
    top:-30px;
    left:300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 70%;
	padding: 0 7em;
    background-color:	#F5F5F5;
    border-radius:10px;
    box-shadow: 10px 5px 200px rgb(133, 124, 124);
    
}

.grid__item {
	position: relative;
	display: block;
	flex: none;
	width: 250px;
	margin: 1.5em 2vw;
	cursor: default;	
	transform-style: preserve-3d;
}

.grid__item:hover,
.grid__item:focus {
	outline: none;
}

.grid__item--c1,
.grid__item--c1:hover,
.grid__item--c1:focus {
	color: #52649e;
}

.grid__item--c2,
.grid__item--c2:hover,
.grid__item--c2:focus {
	color: #ee7074;
}

.grid__item--c3,
.grid__item--c3:hover,
.grid__item--c3:focus {
	color: #f7f295;
}

.stack {
	position: relative;
	width: 200px;
	height: 200px;
	
	transform-style: preserve-3d;
}

.stack__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    border-radius:50%;
    transform-origin: 50% 100%;
    overflow:hidden;
    background-size:cover;
    -webkit-background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.stack__deco:first-child {
	opacity: 0.2;
}

.stack__deco:nth-child(2) {
	opacity: 0.4;
}

.stack__deco:nth-child(3) {
	opacity: 0.6;
}

.stack__deco:nth-child(4) {
	opacity: 0.8;
}

.stack__figure {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
    transform-origin: 50% 100%;
    border-radius:50%;
}

.stack__img {
	position: relative;
	display: block;
    flex: none;
    border-radius:50%;
}

.grid__item-caption {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	transform-style: preserve-3d;
}

.grid__item-title {
	font-size: 2em;
	width: 75%;
	text-align: center;
	color:	#191970;
}



/* Individual effects */



/* Canopus */
.grid--effect-canopus {
	perspective-origin: 50% 0%;
}

.grid--effect-canopus .column {
	opacity: 1;
}

.grid--effect-canopus .stack__figure,
.grid--effect-canopus .stack__deco {
	transform-origin: 50% 100%;
}
.cen{
    
    height:100px;
    margin-top:50px;
    font-weight:700;
    font-size:30px;
    text-align:center;
    
}


{% endblock css %}

{% block content %}

     
            <div class="grid grid--effect-canopus">
                <div class="container cen">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      大佬在此
                </div>
                {% for item in friend  %}
                    <a href="{{ item.url }}" class="grid__item grid__item--c1" data-scroll-reveal="enter bottom over 1s">
                        <div class="stack">
                            <div class="stack__deco" style="background-image:url(/upload/{{ item.head_img }});"></div>
                            <div class="stack__deco" style="background-image:url(/upload/{{ item.head_img }});"></div>
                            <div class="stack__deco" style="background-image:url(/upload/{{ item.head_img }});"></div>
                            <div class="stack__figure">
                                <img class="stack__img" src="/upload/{{ item.head_img }}" alt="Image">
                            </div>
                        </div>
                        <div class="grid__item-caption">
                            <h3 class="grid__item-title">{{ item.name }}</h3>
                        </div>
					</a>
					
               {% endfor %}
            </div>     


{% endblock content %}

{% block script %}

<script src="{% static '/bootstrap/anime.min.js' %}"></script>
<script src="{% static 'bootstrap/main3.js' %}"></script>
<script>
(function() {
	
	[].slice.call(document.querySelectorAll('.grid--effect-canopus > .grid__item')).forEach(function(stackEl) {
		new CanopusFx(stackEl);
	});
	
})();
</script>

{% endblock script %}