{% extends "base.html" %}

{% block header_img %}
      .headerSize{
        
        background:transparent url(/upload/{{ header_img.about_img }}) no-repeat scroll ;
        
        width: 100%;
        height: 800px;
        overflow:hidden;
        background-size:cover;     
        
      }
{% endblock header_img %}

{% block css %}
.myIcon{
    text-align:center;
    position:relative;
    top:-100px;
    
}
.iconList{
    position:relative;
    top:10px;
    
}
.iconList ul li{
    float:left;
    padding: 8px;
}
.center1{
    border-radius:5px;
    position: relative;
    top:0px;
    background: rgb(255, 255, 255);
    box-shadow: 10px 5px 200px rgb(133, 124, 124);
  }
  .head-font{
      height:300px;
      position:relative;
      top:10px;
      font-size:30px;
      text-align:center;
  }
  .tags{
      position:relative;
      top:-200px;
      width:600px;   
      float:center;
      justify-content: center;
      text-align:center;
      
      
      line-height:50px;
  }
  .cal{
      position:relative;
      top:-330px;
      left:100px;
  }
  .a-num{
      position:relative;
      right:-10px;
      font-size:25px;
  }
  .call{
       position:relative;
       top:-404px;
       left:200px;
  }
  .t-num{
     font-size:25px;
     position:relative;
     right:-3px;
     
  }
  .h-size{
      max-width: 200px;
      position: relative;
      top: -7px;
  }
  .cir{
      font-size:20px;
      box-shadow:1px 1px 5px 1px #DCDCDC;
      margin:5px;
      border:none;
      display:-moz-inline-box;
      display:inline-block;
      color:#BC8F8F;
      
  }
  .tags a{   
      text-decoration:none;
  }
  .span-c:hover span{
      color:#FFFAFA;
      background-color:#5cb85c
  }
{% endblock css %}

{% block content %}
<div class="container bg-white center">
    <div class="row">
        
        <div class="col-md-4 col-md-offset-4 myIcon">
            <img class='img-circle h-size' src="/upload/{{ user.head_img }}" alt="" data-scroll-reveal="enter bottom over 1s">
            <h1 data-scroll-reveal="enter bottom over 1s">{{ user.name }}</h1>
            <p data-scroll-reveal="enter bottom over 1s">{{ user.major }}</p>
            <h3 data-scroll-reveal="enter bottom over 1s">{{ user.Motto}}</h3>
        </div>
        <div class="col-md-4 iconList" data-scroll-reveal="enter left over 1s">
             <ul style="list-style-type:none">
                 <li>
                     <a href="">
                        <img src="/upload/icon/qq (1).png" alt="" srcset="">
                     </a>
                 </li>
                 <li>
                    <a href="">
                        <img src="/upload/icon/邮箱 (1).png" alt="" srcset="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/upload/icon/GitHub (1).png" alt="" srcset="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/upload/icon/CN_bilibili.png" alt="" srcset="">
                    </a>
                </li>
             </ul>
        </div>      
    </div>
    <div class='cal' data-scroll-reveal="enter right over 1s">
        <a>
            <div class='a-num'>
             {{ arti_num }}
            </div>          
        </a>
        <h4>
            文章
        </h4>
    </div>
    <div class='call' data-scroll-reveal="enter right over 1s">
        <a>
            <div class='t-num'>
             {{ tag_num }}
            </div>          
        </a>
        <h4>
            标签
        </h4>
    </div>
</div>
<div class="container bg-white center1" data-scroll-reveal="enter bottom over 1s">
    <div class='head-font'>           
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        文章标签               
    </div>
    <div class='tags container'>
        {% for arti in article %}
            {% for tag in arti.tags.all %}
            <a class="span-c" href="http://127.0.0.1:8000/about/">
               <span class="label  cir">{{ tag }}</span>
            </a>
            {% endfor %}
        
        {% endfor %}

    </div>
</div>
{% endblock content %}



