{% extends "base.html" %}
{% load static %}
{% block header_img %}
    .headerSize{

    background:transparent url(/upload/{{ article.img }}) no-repeat scroll ;

    width: 100%;
    height: 500px;
    
    }
{% endblock header_img %}
{% block css %}
.center1{
        border-radius:5px;
        width:1000px;
        margin-bottom:20px;
        position: relative;
        top:-120px;
        left:100px;
        background: rgb(255, 255, 255);
        box-shadow: 10px 5px 200px rgb(133, 124, 124);
}
.head{
   position:relative;
   top:-300px;
   color:white;
   text-align:center;
}
.adate{
    height:50px;
    position:relative;
    top:40px;
}
.tag{
    font-size: 2rem;
    font-weight: 400;
    font-color:white;
    height: 35px;    
    position:relative;
    top:10px;
}
.cir{
    border-radius: 20px;
}
.tob{
    font-size:20px;
}
.sidebar{
    
    width:20%;
    float:left;
    position:absolute;
    left:1400px;
    font-size:20px;
    color:;
}
.toc ul li a{
    text-decoration:;
    color:	#708090;
}
.md-img ul li ul li img,
.md-img ul li p img,
.md-img ul li img,
.md-img p img{
    max-width:100%;
}
md-cato{
    position:absolute;
    left:1500px;
    font-size:20px;
    
}
/*上下篇文章*/
.bottomart{  
    width:1000px;
    position: relative;
    top:-120px;
    left:100px;
    background: ;
}
 .pre,
.next{
    display:inline-block;
    text-align:center;
    width:475px;
    border-radius:5px;
    height:250px;
    overflow:hidden;
    background-size:cover;
    -webkit-background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition:all 0.6s;
    
}
.pre{  
    float:left;
    margin-right:20px;
    
}
.next{
    
    float:right;
    
}
.pre-p{
    border-radius:5px 5px 5px 0px;
    
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
    background: rgb(255, 255, 255);
}
.next-n{
    
    position:relative;
    left:375px;
    border-radius:5px 5px 0px 5px;
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
    background: rgb(255, 255, 255);
}
.title{
    position:relative;
    top:20px;
    width:%;
    color:rgb(255, 255, 255);
    font-weight:700;
    font-size: 3rem;
}
.conten{
    color:rgb(255, 255, 255);
    position:relative;
    
    top:90px;
}
.pre:hover,
.next:hover{
    transform: scale(0.9);
}
.coo{
    width:465px;
}

{% endblock css %}

{% block content %}


<!-- 文章详情 -->

    <div class='head container'>
        <h1 style="font-weight:700;font-size: 5rem;">{{ article.title }}</h1>
    </div>
<div id="main-content" class="main"> 
    <div class="row"> 
        <div id="content" class="content">
            <div class="col-md-9">                
                <div class="container center1">
                    <div class="tag">
                        {% for tag in article.tags.all %}
                            <span class="label label-success cir">{{ tag }}</span>
                        {% endfor %}                  
                    </div>
                    <div class="row">
                        <div class="col-md-3 adate">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            发布日期:{{ article.create_time |date:"Y-m-d" }} {{ article.has_previous }}
                        </div>
                        <div class="col-md-4 adate">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            修改时间：{{ article.change_time |date:"Y-m-d" }}
                        </div>
                    </div>     
                    <hr />
                    <div class="md-img">
                        {{ article.content |safe }}  
                    </div>                            
                </div>    
                <div class="container bottomart">
                    {% if pre_art %}
                        <a href='{% url "article_detail" pre_art.id %}'>
                            <div class="pre" style="background-image:url(/upload/{{ pre_art.img }});">
                                <div class="pre-p">
                                    上一篇
                                </div>
                                <div class='coo'>
                                <h1 class="title">{{ pre_art.title }}</h1>
                                </div>
                                <p class="conten">asdasda</p>>
                               
                                
                            </div>
                        </a>
                    
                    {% else %}
                    <a href="#">
                        <div class="pre" style="background-image:url(/upload/{{ article.img }});">
                            <div class="pre-p">
                                本篇
                            </div>
                            <h1 class="title">{{ article.title }}</h1>
                            <p class="conten">{{ article.introduction }}</p>>
                            
                            
                        </div>
                    </a>
                    {% endif %}

                     {% if next_art %}
                        <a href='{% url "article_detail" next_art.id %}'>
                            <div class="next" style="background-image:url(/upload/{{ next_art.img }});">
                                <div class="next-n">
                                    下一篇
                                </div>
                                <h1 class="title">{{ next_art.title }}</h1>
                                <p class="conten">asdasda</p>>
                                
                                
                            </div>
                        </a>
                    
                    {% else %}
                    <a href="">
                        <div class="next" style="background-image:url(/upload/{{ article.img }});">
                            <div class="next-n">
                                本篇
                            </div>
                            <h1 class="title">{{ article.title }}</h1>
                            <p class="conten">{{ article.introduction }}</p>>
                            
                            
                        </div>
                    </a>
                    {% endif %}
                    
                         
                </div>
            </div>           
        </div> 
        
            <div id="sidebar" class="sidebar">
                <div class="sidebar__inner">
                    <h3>
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 目录
                    </h3>  
                    {{ tob|safe }}
                    
                </div>
            </div>  
        
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'sticky/jquery.sticky-sidebar.min.js' %}"></script>

<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 50,
        bottomSpacing: 20,
        
    });
</script>


{% endblock script %}