{% extends "base.html" %}
{% block header_img %}
      .headerSize{
        
        background:transparent url(/upload/{{ header_img.sort_img }}) no-repeat scroll ;
        
        width: 100%;
        height: 800px;
        overflow:hidden;
        background-size:cover;    
      }
{% endblock header_img %}

{% block css %}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  
  background: 	#BC8F8F;
  color: #3c3f64;
  overflow-x: hidden;
  padding-bottom: 50px;
}
 
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  width: 120px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color:#F5F5F5;
}
.timeline ul li div div {
  height: 150px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.timeline ul li div div p {
  text-align: center;
  position:absolute;
  top:50px;
  width:300px;
 
  
}
.timeline ul li div .discovery {
  margin-right: 10px;
  
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
 
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }
 
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}
.center1{
        border-radius:5px;
        width:1000px;
        position: relative;
        top:-20px;
        background: rgb(255, 255, 255);
        box-shadow: 10px 5px 200px rgb(133, 124, 124);
}
.circ{
    position:relative;
    top:35px;
    left:-45px;
}
.ti{
    position:relative;
    top:-40px;
    
    color:#696969;
    text-align:center;
}
.my{
  text-align:center;
}
.tags{  
      width:600px;   
      float:center;
      justify-content: center;
      text-align:center;
      margin-top:50px;
      margin-bottom:50px;
      line-height:50px;
  }
   .cir{
      font-size:20px;
      box-shadow:1px 1px 5px 1px #DCDCDC;
      margin:5px;
      border:none;
      display:-moz-inline-box;
      display:inline-block;
      color:#BC8F8F;
      
  }
  .tags a{   
      text-decoration:none;
  }
  .span-c:hover span{
      color:#FFFAFA;
      background-color:#5cb85c
  }
{% endblock css %}


{% block content %}

<div class="container bg-white center1">
    <h2 class="text-center">
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      文章标签
    </h2>
    <div class='tags container' data-scroll-reveal="enter bottom over 1s">
        {% for arti in dates %}
            {% for tag in arti.tags.all %}
            <a class="span-c" href="http://127.0.0.1:8000/about/">
               <span class="label  cir">{{ tag }}</span>
            </a>
            {% endfor %}
        
        {% endfor %}

    </div>
<div class='dd'>

</div>
</div>
<div>
    <section class="timeline">
        <ul>
            {% for article in dates %}


            <li>
                <div style="background:transparent url(../../upload/{{ article.img }});">
                  
                    <time>{{ article.create_time |date:"Y.m.d" }}</time>
                    <div class="discovery" style="opacity: 0.7;">
                       <a href="/detail/{{ article.id }}">
                        <h3 class='ti'>{{ article.title }}</h3>   
                      </a>        
                        <p>
                                {{ article.introduction }}  
                        </p>
                    
                        <h5 class="circ">
                            {% for tag in article.tags.all %}
                            
                            
                                <span class="label label-success circ">{{ tag }}</span> 
                                
                            {% endfor %}
                        </h5>
                      
                    </div>
                  
                  </div>>
            </li>
            {% endfor %}       
        </ul>
    </section>
</div>






{% endblock content %}

{% block bottom_nav %}

{% endblock bottom_nav %}

{% block script %}
<script>
var items = document.querySelectorAll(".timeline li");
 
function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}
 
function callbackFunc() {
  for (var i = 0; i < items.length; i++) {
    if (isElementInViewport(items[i])) {
      if(!items[i].classList.contains("in-view")){
        items[i].classList.add("in-view");
      }
    } else if(items[i].classList.contains("in-view")) {
        items[i].classList.remove("in-view");
    }
  }
}
  
window.addEventListener("load", callbackFunc);
window.addEventListener("scroll", callbackFunc);
</script>

{% endblock script %}