{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
Articles
{% endblock %}

<!-- link -->
{% block link %}
<!-- <link rel="stylesheet" href="{% static 'articles/css/murphy.css' %}"> -->
<link rel="stylesheet" href="{% static 'articles/css/pastie.css' %}">
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock  %}

<!-- header_img -->
{% block img_height %}

.header-img {
width: auto;
height: 400px;
}

{% endblock %}

<!-- script -->
{% block header_img %}
<div class="header-img" style="background: url(/media/{{ article.img.img }}) no-repeat center;"></div>
{% endblock %}

<!-- body -->
{% block body %}
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-2"></div>
        <!-- 文章相关区 -->
        <div class="col-md-6">
            <div class="container-fluid">
                <!-- 文章内容 -->
                <div class="article">
                    <div class="article-title text-center text-muted">
                        <h1>
                            <span style="font-size: 1em; color: #34495e;">
                                <i class="fas fa-heading"></i>
                            </span>

                            {{ article.title }}
                        </h1>
                    </div>
                    <div class="article-some container">
                        <div class="article-category" style="display: inline;">
                            <a href="{% url 'article:category' article.category.id %}">
                                <h5 class="inline">
                                    <span style="font-size: 0.9em; color: Dodgerblue;">
                                        <i class="fas fa-bookmark fa-1x"></i>
                                    </span>
                                    {{ article.category }}
                                </h5>
                            </a>
                        </div>
                        <!-- 标签 -->
                        <div class="article-tags" style="display: inline;">
                            <h5 class="inline">
                                <span style="font-size: 0.8em; color: Mediumslateblue;">
                                    <i class="fas fa-tag"></i>
                                </span>
                                {% for tag in article.tags.all %}
                                {% if forloop.first %}
                                {{ tag.name }}
                                {% else %}
                                <strong>·</strong>
                                {{ tag.name }}
                                {% endif %}
                                {% endfor %}
                            </h5>
                        </div>
                        <!-- 发布时间 -->
                        <div class="article-time" style="display: inline;">
                            <h5 class="inline">
                                <span style="font-size: 0.9em; color: Tomato;">
                                    <i class="fas fa-calendar-check"></i>
                                </span>
                                {{ article.created_time|date:"Y-m-d" }}
                            </h5>
                        </div>
                    </div>
                    <hr>
                    <!-- 文章内容 -->
                    <div class="article-content text-muted">
                        <h3>{{ article.content |safe }}</h3>
                    </div>
                </div>
                <!-- 上下篇 -->
                <div class="article-more" style="margin-bottom: 50px">
                    <div class="row">
                        <div class="col-md-6">
                            {% if pre_article %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ pre_article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ pre_article }}</h5>
                                    <p class="card-text">{{ pre_article.intro }}</p>
                                    <a href="#" class="btn btn-primary">上一篇</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.intro }}</p>
                                    <a href="#" class="btn btn-primary">本篇</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if next_article %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ next_article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ next_article.title }}</h5>
                                    <p class="card-text">{{ next_article.intro }}</p>
                                    <a href="#" class="btn btn-primary">下一篇</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card">
                                <img class="card-img-top" src="/media/{{ article.img.img }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text">{{ article.intro }}</p>
                                    <a href="#" class="btn btn-primary">本篇</a>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
                <hr>
                <!-- 评论 -->
                <div class="container text-center" style="margin-top: 30px;">
                     <!-- 评论列表 -->
                    {% if all_comments %}
                    <div class="comments-list">
                        <div class="text-center">
                            <h4 style="font-weight:600;">已有 {{ all_comments|length }} 条评论</h4>
                        </div>
                        <div class="comment-item">
                            {% for comment in all_comments %}
                            <div class="row">
                                <div class="col-md-2">
                                    <span style="font-size: 3em; color: #34495e;">
                                        <i class="fas fa-dragon"></i>
                                    </span>
                                </div>
                                <div class="col-md-10">
                                    <div style="float: left;margin-top: 10px;">
                                        <p class="text-muted"><a href="{{ comment.url }}"
                                                style="text-decoration: none;"><strong>{{ comment.name }}</strong></a>
                                            {{ comment.created_time|date:"Y-m-d H:i" }}</p>
                                    </div>
                                    <div class="context">
                                        <p>{{ comment.context }}</p>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>

                    {% endif %}
                    
                    <!-- 提交评论表单 -->
                    <div class="comment-form" style="margin-top: 50px;">
                        <form action="{% url 'comments:comment' article.id %}" method="post">
                            {% csrf_token %}
                            <h4 style="font-weight:600;">
                                <span style="font-size: 1em; color: #34495e;">
                                    <i class="fas fa-edit"></i>
                                </span>
                                添加新评论
                            </h4>
                            <div class="row">
                                <div class="col-md-1">
                                    <span style="font-size: 3em; color: #34495e;">
                                        <i class="fas fa-smile"></i>
                                    </span>
                                </div>
                                <div class="col" style="margin-top: auto; margin-bottom:auto;">
                                    <input type="text" name="name" class="form-control" id="formGroupExampleInput"
                                        placeholder="name">
                                </div>
                                <div class="col" style="margin-top: auto; margin-bottom:auto;">
                                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="example@example.com">
                                </div>
                                <div class="col" style="margin-top: auto; margin-bottom:auto;">
                                    <input type="text" name="url" class="form-control" id="formGroupExampleInput"
                                        placeholder="http://">
                                </div>
                            </div>
                            <div>
                                <textarea name="context" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                            </div>

                            <div style="margin-top: 20px;">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">吐槽一下</button>
                            </div>
                            
                        </form>
                    </div>
                    <hr>      
                </div>
            </div>
        </div>
        
        <!-- markdown|toc -->
        <div class="col-md-4">
            <div class="article-toc">
                <h4 class="text-muted">{{ tob |safe }}</h4>
            </div>
        </div>
    </div>
    
   
</div>

{% endblock %}

<!-- script -->
{% block script %}
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>

{% endblock %}